# Ignore node_modules directory
node_modules

# Ignore log files
npm-debug.log
yarn-debug.log
yarn-error.log

# Ignore environment variable files
.env
.env.local
.env.development
.env.test
.env.production

# Ignore Git files
.git
.gitignore

# Ignore coverage reports
coverage
*.lcov

# Ignore build artifacts
dist
build

# Ignore IDE and editor files
.vscode
.idea
*.swp

# Ignore temporary files
*.tmp
*.temp
.DS_Store
Thumbs.db

# Ignore other unnecessary files
README.md
LICENSE